<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Tarefas</title>
    <link rel="stylesheet" type="text/css" href="../static/stylesheet.css" media="screen" />
</head>
<body>

    <div class="bloco">
    
        <div class="texto">

            <h1>Lista de Tarefas</h1>

            <form action="/criar" method="post">
                <label >Nome da Tarefa:</label>
                <input type="text" name="name"><br>
                <br>
                <label >Descrição da Tarefa</label>
                <input type="text" name="description">

                <button type="submit">Criar</button>
            </form>

        </div> 

        

    </div>

</body>
</html>